/*  your css code here. If applicable */
body {
	background-color: #FF5CFF;
}

.btn, .stop {
	height: 50px;
	width: 100px;
	background-color: #800080;
	text-align: center;
	justify-content: center;
	align-content: center;
	
}